#last9 {
    background-color: rgba(128, 0, 128, 0.388);
}

#last8 {
    background-color:#0335fc ;
}
 
#blue1 {
    background-color:#034efc ;
}

#purple2 {
    background-color: rgba(128, 0, 100, 0.991);
}

#right0 {
    background-color: #03a5fc
  
}

#sl01 {
    background-color:#03fc7f ;
}

#slat00 {
    background-color:#998d8d ;
}

#sky10 {
    background-color:#159fd1 ;
}

#yellow19 {
    background-color:#cfbd4c ;
}

#orange1 {
    background-color: #cf664c;
}

#pinky01 {
    background-color: rgb(225, 40, 100);
}